/* Contents of style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #533636;
    color: #02050e;
    padding: 10px;
}

#header img {
    height: 40px; /* Adjust height as needed */
}

#sidebar {
    background-color: #753f3f;
    width: 250px;
    height: 100vh;
    float: left;
    padding: 10px;
}

#main {
    float: left;
    width: calc(100% - 250px);
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

#messageBox {
    position: relative;
    bottom: 5px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width if desired */
    background-color: #bec0ce;
    padding: 20px;
}


#profile {
    position: absolute;
    top: 10px;
    right: 10px;
}

#status {
    margin-right: 10px;
}