/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a lighter black background and white font */
body {
    font-family: Arial, sans-serif;
    background-color: #221e1e; /* Lighter black */
    color: #c4baba;
}

/* Style the header */
#header {
    text-align: left;
    padding: 15px 15px;
    background-color: #1f1f1f; /* Dark grey */
    color: #fff;
    font-size: 15px;
}

/* Style the heading */
#header  {
    margin: 10px 5px;
    padding: 10;
    font-size: 15px;
}


/* Style the Call container */
#Call {
    position: fixed;
    top: 20px;
    right: 20px;
}

/* Style the call buttons */
#Call button {
    display: block;
    margin-bottom: 10px; /* Add margin between the buttons if needed */
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: 5px solid #007bff;
    border-radius: 5px;
}

/* Apply styles to the second button */
#Call button:last-child {
    margin-bottom: 0; /* Remove margin for the last button */
}


/* Style the sidebar */
#sidebar {
    float: right;
    width: 20%;
    padding: 20px;
    background-color: #221e1e; /* Dark grey */
}

/* Style the main chat area */
#main {
    float: left;
    width: 60%;
    padding: 20px;
    background-color: #221e1e; /* Darker grey */
}

/* Style the message box */
#messageBox {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: block;
    width: 100%;
    padding: 20px; /* Adjust padding as needed */
    background-color: #1f1f1f; /* Dark grey */
    color: #fff; /* Text color */
    z-index: 9999; /* Ensure it's on top of other elements */
}


/* Style the input field for typing messages */
#messageInput {
    width: calc(100% - 80px);
    padding: 30px;
    margin-bottom: 10px;
    color: #c5b5b5; /* Change input text color */
    background-color: #000; /* White background */
    
}

/* Style the send button */
#messageBox button {
    padding: 30px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: bottom; 
}

/* Style the footer */
#footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}






